@import '../../../styles/card.scss';
@import '../../../styles/button.scss';
@import '../../../styles/text.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/parametre.scss';

.contentquizpage {
    display: flex;
    flex-direction: row;
    text-align:center
  }

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

hr {
    width: 100%;
}

button {
    border-collapse: separate;
}

.questions {
}

.questionsparent {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}

.answerbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 2rem 3rem ;
}

.badAnswerBorder {
    padding: 1em;
    border: solid 5px;
    border-radius: 20px;
}

.goodAnswerBorder {
    padding: 1em;
    border: solid 5px;
    border-radius: 20px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

    /*margin: 30px;  laisser suite a un merge, jspa si oui ou non il degage*/

