<div class="contentquizpage">
    <div>
        <button class="button back" [routerLink]="['/quiz-list']">
            <i class="fas fa-angle-left"></i>
        </button>
    </div>
    <div class="game">
        <div>
            <h2>Quiz : {{quiz.name}}</h2>
        </div>
        <hr>
        <div *ngIf="!end" class="game">
            <h3>{{quiz.questions[i].label}}</h3>
            <hr>
            <div *ngIf="!explanation" class="questionsparent">
                <div *ngFor="let answer of quiz.questions[i].answers" class="questions">
                    <button class="answerbutton" (click)="displayExplanation(answer.isCorrect)">{{answer.value}}</button>
                </div>
            </div>
            <div *ngIf="explanation">
                <div *ngIf="isCorrectCurrentQuestion" class="goodAnswer">
                    <h3>Bonne réponse !</h3>
                    <p class="goodAnswerBorder">{{quiz.questions[i].explanation}}</p>
                </div>
                <div *ngIf="!isCorrectCurrentQuestion" class="badAnswer">
                    <h3>Mauvaise réponse... </h3>
                    <p class="badAnswerBorder">{{quiz.questions[i].explanation}}</p>
                </div>
                <button class="button nextButton" (click)="suivant()">
                    <span>
                        <i class="fas fa-angle-right"></i>  
                    </span>
                    <span>ㅤSuivant</span>
                </button>
            </div>
        </div>
        <div *ngIf="end">
            <h3>Vous avez répondu correctement à  :</h3>
            <h1 class="score">{{score}} / {{quiz.questions.length}}</h1>
            <hr>
            <button routerLink="/home" class="button endquiz">Retour à l'accueil</button>
            <button routerLink="/quiz-list" class="button endquiz">Rejouer à un quiz</button>
        </div>
    </div>
</div>

