<div class="contentquizpage">
    <div>
        <button class="button back" [routerLink]="['/quiz-list']">
            <i class="fas fa-angle-left"></i>
        </button>
    </div>
    <div class="game" [ngClass]="paramService.getTaille()">
        <div>
            <h2>Quiz : {{quiz.name}}</h2>
        </div>
        <hr>
        <h3>{{quiz.questions[i].label}}</h3>
        <hr>
        <div *ngIf="!end" class="questionsparent">
            <div *ngFor="let answer of quiz.questions[i].answers" class="questions">
                <button class="answerbutton" (click)="suivant(answer.isCorrect)">{{answer.value}}</button>
            </div>
        </div>
        <div *ngIf="end">
            <h3>Votre Score :</h3>
            <p class="score">{{score}} / {{quiz.questions.length}}</p>
            <hr>
            <button routerLink="/" class="button endquiz">Retour à l'accueil</button>
            <button routerLink="/quiz-list" class="button endquiz">Rejouer à un quiz</button>
        </div>
    </div>
</div>

