@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import "./variables";

.link {
    text-decoration: none;
}

.button {
    display: inline-flex;
    margin: 0.1em;
    border-radius: 100px;
    font-family: 'Inria Sans', sans-serif;
    transition: all .5s;
    cursor: pointer;
    background-color: white;
    padding: 0.5em 1.5em;
    justify-content: center;
}

.button:hover {
    border: white solid 3px;
    color: white;
    box-shadow: black 1px 0 20px;
}

.play {
    color: $light-blue;
    border: $light-blue solid 3px;
    font-size: 2em;
}

.play:hover{
    background-color: $light-blue;
}

.create {
    color: $light-blue;
    border: $light-blue solid 3px;
    font-size: 2em;
}

.create:hover{
    background-color: $light-blue;
}

.setting {
    color: $dark-blue;
    border: $dark-blue solid 3px;
    font-size: 1em;
}

.setting:hover {
    background-color: $dark-blue;
}

.settingheader {
  color: $dark-blue;
  border: $dark-blue solid 3px;
  font-size: 1em;
}

.settingheader:hover {
  background-color: $dark-blue;
}

.home {
    color: $dark-blue;
    border: $dark-blue solid 3px;
    font-size: 1em;
}

.home:hover {
    background-color: $dark-blue;
}

.guide {
    color: #464646;
    border: #464646 solid 3px;
    font-size: .85em;
}

.guide:hover {
    background-color: #464646;
}

.back {
    background-color: $dark-blue;
    color: white;
    border: white solid 3px;
    padding: 0.4em 0.65em;
    font-size: 1.2em;
}

.quizbutton {
    color: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    font-size: 1em;
}

.quizbutton:hover {
    color: black;
}

.ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.answerbutton {
    min-height: 100px;
    min-width: 300px;
    border: 3px solid $light-blue;
    background-color: $white;
    font-family: 'Inria Sans', sans-serif;
    cursor: pointer;
    transition: all .5s;
    font-size: 1em;
}

.answerbutton:hover {
    box-shadow: black 1px 0 20px;
}

.nextButton {
    margin-top: 20px;
    background-color: $dark-blue;
    color: white;
    border: white solid 3px;
    padding: 0.4em 0.65em;
}

.endquiz {
    color: $light-blue;
    border: $light-blue solid 3px;
    font-size: 1em;
}

.endquiz:hover{
    background-color: $light-blue;
}

.submit {
    border: 3px solid $light-blue;
    margin-top: 10px;
}

.submit:hover {
    color: $light-blue;
    border: 3px solid $light-blue;
}
