@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import "./variables";

.link {
    text-decoration: none;
}

.button {
    display: inline-flex;
    margin: 0.1em;
    border-radius: 100px;
    font-family: 'Inria Sans', sans-serif;
    transition: all .5s;
    cursor: pointer;
    background-color: white;
    padding: 0.5em 1.5em;
    justify-content: center;
}
  
.button:hover {
    border: white solid 3px;
    color: white;
    box-shadow: black 1px 0 20px;
}

.play {
    font-size: 3em*$text-size;
    color: $light-blue;
    border: $light-blue solid 3px;
}

.play:hover{
    background-color: $light-blue;
}

.create {
    font-size: 2em*$text-size;
    color: $light-blue;
    border: $light-blue solid 3px;
}

.create:hover{
    background-color: $light-blue;
}

.setting {
    font-size: 1.5em*$text-size;
    color: $dark-blue;
    border: $dark-blue solid 3px;
}
  
.setting:hover {
    background-color: $dark-blue;
}

.guide {
    font-size: 1em*$text-size;
    color: #464646;
    border: #464646 solid 3px;
}
  
.guide:hover {
    background-color: #464646;
}

.back {
    margin-top: 20px;
    font-size: $text-size*1.4em;
    background-color: $dark-blue;
    color: white;
    border: white solid 3px;
    padding: 0.4em 0.65em;
}

.quizbutton {
    color: black;
    font-size: .8em*$text-size;
    border-radius: 10px;
    border: $light-blue solid 3px;
    margin: 10px;
    width: 250px*$text-size;
}

.quizbutton:hover {
    color: black;
    border-radius: 10px;
    border: $light-blue solid 3px;
}

.ico {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.answerbutton {
    height: 100px;
    width: 300px;
    border: 3px solid $light-blue;
    background-color: $white;
    font-size: 1em*$text-size;
    font-family: 'Inria Sans', sans-serif;
    cursor: pointer;
    transition: all .5s;
}

.answerbutton:hover {
    box-shadow: black 1px 0 20px;
}

.endquiz {
    font-size: 0.8em*$text-size;
    color: $light-blue;
    border: $light-blue solid 3px;
}

.endquiz:hover{
    background-color: $light-blue;
}