@import 'variables.scss';

.normalSize {
  font-size: 1em;
  transition: all .5s;
}

.bigSize {
  font-size: 2em;
  transition: all .5s;
}

.goodAnswerNormal {
  color: $green;
}

.badAnswerNormal {
  color: $red;
}

.goodAnswerDeuterProta {
  color: $light-blue;
}

.badAnswerDeuterProta {
  color: $yellow;
}

.goodAnswerTrita {
  color: $light-cyan;
}

.badAnswerTrita {
  color: $dark-red;
}

.normalSep {
  // cas de separation normal, surment rien qui change
}

.bigSep {
  // cas de grande separation, j'ai trouver ca si sa peut aider, pas reussi perso : https://developer.mozilla.org/fr/docs/Web/CSS/border-spacing
}
