@import 'variables.scss';

.normalSize {
  font-size: 1em;
  transition: all .5s;
}

.bigSize {
  font-size: 2em;
  transition: all .5s;
}

.goodAnswerNormal {
  color: $green;
}

.badAnswerNormal {
  color: $red;
}

.goodAnswerDeuterProta {
  color: $light-blue;
}

.badAnswerDeuterProta {
  color: $yellow;
}

.goodAnswerTrita {
  color: $light-cyan;
}

.badAnswerTrita {
  color: $dark-red;
}
