@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');

h1 {
    font-family: 'Inria Sans', sans-serif;
    font-size: 2em;
}

h2 {
    font-family: 'Inria Sans', sans-serif;
    font-size: 1em;
}

h3 {
    font-family: 'Inria Sans', sans-serif;
    margin: 10px;
    font-size: .9em;
}

span {
  font-family: 'Inria Sans', sans-serif;
}

.title {
    transition: text-shadow 0.2s;
    color:white;
    font-size: 2.3em;
}

.title:hover {
    text-shadow: #000 1px 0 10px;
}

.title:active {
    color: lightgray;
}
