@import '../../styles/button.scss';
@import '../../styles/variables.scss';

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  color: $blue;
  border: $blue dashed 3px;
  width: 40%;
}