<div class="menu">
    <div>
        <button class="play" [routerLink]="['/quiz-list']">
            <span><i class="fas fa-play ico"></i></span>
            <span>JOUER</span>
        </button>
    </div>
    <div>
        <button class="parametre" [routerLink]="['/parametre']">
            <span><i class="fas fa-wrench ico"></i></span>
            <span>PARAMÈTRES</span>
        </button>
    </div>
    <div>
        <button class="guide" [routerLink]="['/guide-list']">
            <span><i class="fas fa-question ico"></i></span>
            <span>Guide d'utilisation</span>
        </button>
    </div>
</div>

