<div class="menu">
    <div>
        <button class="play" [routerLink]="['/quiz-list']">
            <span>JOUER</span>
        </button>
    </div>
    <div>
        <button class="creation" [routerLink]="['/quiz-form']">
            <span>Créer quiz</span>
        </button>
    </div>
    <div>
        <button class="parametre" [routerLink]="['/parametre']">
            <span>PARAMÈTRES</span>
        </button>
    </div>
    <div>
        <button class="guide" [routerLink]="['/guide-list']">
            <span>Guide d'utilisation</span>
        </button>
    </div>
</div>

