@import '../../styles/button.scss';
@import '../../styles/variables.scss';
@import "../../styles/parametre.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

hr {
  border-top: $light-blue dashed 3px;
  width: 40%;
  color: white;
}
