<div class="menu">
    <div>
        <button class="play" type="button">
            <span class="ion ion-md-attach ico">
                <ion-icon name="play-outline"></ion-icon>
            </span>
            <span>JOUER</span>
        </button>
    </div>
    <div>
        <button class="parametre" [routerLink]="['/parametre']">
            <span class="ion ion-md-attach ico">
                <ion-icon name="settings-outline"></ion-icon>
            </span>
            <span>PARAMÈTRES</span>
        </button>
    </div>
    
    <div>
        <button class="guide">
            <span class="ion ion-md-attach ico">
                <ion-icon name="help-circle-outline"></ion-icon>
            </span>
            <span>Guide d'utilisation</span>
        </button>
    </div>
</div>

