@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap');
@import "../../styles/button.scss";

.parametre {
  font-size: 2em;
  padding: 0.5em 1.5em;
  display: inline-block;
  vertical-align: middle;
  float: none;
}
