<div class="param">
    <div class="title">
        Choisissez votre interface :
    </div>
    <br><br>
    <div class="configs">
        <div class="item" (click)="setClas()">
            <img src="../../assets/pictures/clas.png">
            <br>
            <span>Classique</span>
        </div>
        <div class="item" (click)="setDmla()">
            <img src="../../assets/pictures/dmla.png">
            <br>
            <span>DMLA</span>
        </div>
        <div class="item" (click)="setPres()">
            <img src="../../assets/pictures/pres.png">
            <br>
            <span>Presbytie</span>
        </div>
        <div class="item" (click)="setDalt()">
            <img src="../../assets/pictures/dalt.png">
            <br>
            <span>Daltonisme</span>
        </div>
        <br><br>
        <div class="item" (click)="setDmlaPres()">
            <img src="../../assets/pictures/dmla+pres.png">
            <br>
            <span>DMLA Presbytie</span>
        </div>
        <div class="item" (click)="setDmlaDalt()">
            <img src="../../assets/pictures/dalt+dmla.png">
            <br>
            <span>DMLA Daltonisme</span>
        </div>
        <div class="item" (click)="setPresDalt()">
            <img src="../../assets/pictures/dalt+pres.png">
            <br>
            <span>Presbytie Daltonisme</span>
        </div>
        <div class="item" (click)="setDaltDaltDmla()">
            <img src="../../assets/pictures/all-handi.png">
            <br>
            <span>Daltonisme DMLA Presbytie</span>
        </div>
    </div>
</div>

