<div class="param">
    <div class="item">
        Choisissez votre interface :
    </div>
    <br><br>
    <div class="clas item" (click)="setClas()">
        <img src="../../assets/pictures/clas.png">
        <br>
        <span>Classique</span>
    </div>
    <div class="dmla item" (click)="setDmla()">
        <img src="../../assets/pictures/dmla.png">
        <br>
        <span>DMLA</span>
    </div>
    <div class="pres item" (click)="setPres()">
        <img src="../../assets/pictures/pres.png">
        <br>
        <span>Presbytie</span>
    </div>
    <div class="dalt item" (click)="setDalt()">
        <img src="../../assets/pictures/dalt.png">
        <br>
        <span>Daltonisme</span>
    </div>
</div>

