
.item{
    display: inline-block; 
    *display: inline;
    vertical-align: top; 
    text-align: center;
    font-size: 40px;
    width: 20%;
    margin-right: 2%;
}

.param{
    height: 100%; 
    width:100%; 
    font-size: 0;
    text-align: center;
    border-top: 100px;
    margin-top: 10%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

span{
    display: inline-block;
}

.item:hover {
    border: white solid 3px;
    color: rgb(12, 161, 25);
    box-shadow: black 1px 0 20px;
}