@import '../../../styles/card.scss';
@import '../../../styles/button.scss';
@import '../../../styles/text.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/parametre.scss';

.mainTitle{
    text-align: center;
    font-weight: bold;
}

table{
    margin: auto;
    border: 1px;
}

tr, td {
    padding: 15px;
    text-align :center;
}

.line {
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
