<div>
    <button class="button back" [routerLink]="['/guide-list']">
        <i class="fas fa-angle-left"></i>
    </button>
</div>

<div class="mainTitle">
    {{guide.title}}
</div>

<br>

<table>
    <div *ngFor="let step of guide.steps; let indexOfelement=index;">
        <tr>
            <td>Etape {{indexOfelement}}:</td>
            <td>
                {{step.text}}
            </td>
            <td>
                <img src="{{step.link}}">
            </td>
        </tr>
    </div>
</table>