@import "../../styles/variables";
@import "../../styles/button";
@import "../../styles/text";


.header {
  background: $light-blue;
  display: flex;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  justify-content: space-between;
  padding: 15px;
}

.vertical {
  border-left: 2px solid white;
  border-radius: 1px;
  height: 100%;
  margin-inline: 10px;
}

.homepart {
  display: flex;
  align-items: center;
}