<div class="header" [ngClass]="paramService.getTaille()">

  <div class="homepart">
    <button class="button home" [routerLink]="['/home']">
      <span><i class="fas fa-home"></i></span>
    </button>
    <div class = "vertical"></div>
    <a class="link" [routerLink]="['/home']"><h1 class="title">EstiQwizz</h1></a>
  </div>

  <div>
    <button class="button settingheader" [routerLink]="['/parametre']">
      <span><i class="fas fa-wrench ico"></i></span>
      <span>PARAMÈTRES</span>
    </button>
  </div>

</div>
