<div class="param">
    <div class="title">
        Choisissez deux couleurs que vous différenciez bien : 
    </div>
    <br><br>
    <div class="item" (click)="setDalt(0)">
        <img src="../../assets/pictures/VertRouge.png">
        <br>
        <span>Classique</span>
    </div>
    <div class="item" (click)="setDalt(1)">
        <img src="../../assets/pictures/bleuJaune.png">
        <br>
        <span>Deutéranopie ou Protanopie</span>
    </div>
    <div class="item" (click)="setDalt(2)">
        <img src="../../assets/pictures/CyanMarron.png">
        <br>
        <span>Tritanopie</span>
    </div>
</div>