<div>
    <div *ngIf="!quiz.official" style="display: flex; flex-direction: column; align-items: center;">
        <button class="button quizbutton community" (click)="selectQuiz()" routerLink="/play-quiz/{{quiz.id}}"  [ngClass]="paramService.getSep()">
            <span>{{quiz.name}}</span>
        </button>
    </div>
    <div *ngIf="quiz.official" style="display: flex; flex-direction: column; align-items: center;">
        <button class="button quizbutton official" (click)="selectQuiz()" routerLink="/play-quiz/{{quiz.id}}"  [ngClass]="paramService.getSep()">
            <span>{{quiz.name}}</span>
        </button>
    </div>
</div>
<div *ngIf="router.url === '/quiz-form'" style="display: flex;">
    <button class="button-card" (click)="delete()">Supprimer (Attention)</button>
    <button class="button-card" routerLink="/edit-quiz/{{quiz.id}}">Modifier</button>
</div>

